<% provide(:title, 'about Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Samapp | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
<p>The main purpose for having MyBlog application conected to my portfolieo is to show my under standing of Ruby on Rails and website frame works. I will be trying to let this app run live between family and friend to see wather there is a need for a private family blog service or not. </p>
<p>
You will be able to make an account and post on your own home page with alos having the capability to follower others and leave posts on their page as well. All users will have the capability to edit delete or update their account and blog page + status.</p>


  </body>
</html>
