<% provide(:title, 'about us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Samapp | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>about Us</h1>
    <p>
      This is the about Us page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
