<nav class="nav">
<ul class="fancyNav">
<li id="home"><a href="#" class="homeIcon">Home</a></li>
<li id="news"><a href="#">News</a></li>
<li id="about"><a href="#">About us</a></li>
<li id="services"><a href="#">Services</a></li>
<li id="contact"><a href="#">Contact us</a></li>
</ul>
</nav>
